:root {
  --base-padding: 2rem;
}

body {
  font-size: 16px;
  margin: 0; 
}

.page-title {
  text-align: center;
}

.main {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
}

blockquote {
  font-size: 1.5rem;
}

cite {
  display: block;
  margin-top: 0.5rem;
}

.box {
  background: hsl(208, 85%, 79%);
  box-sizing: content-box;
  padding: var(--base-padding);
  text-align: center;
  width: calc(100vw - 2rem);
}

.box {
  --color-h: 258;
  --color-s: 96%;
  --color-l: 63;

   /*
  --color-base: hsl(var(--color-h), var(--color-s), calc(var(--color-l) * 1%));
  --color-light: hsl(var(--color-h), var(--color-s), calc((var(--color-l) + 20) * 1%));
  --color-dark: hsl(var(--color-h), var(--color-s), calc((var(--color-l) - 20) * 1%)); 
    
  background: linear-gradient(
    90deg, 
    var(--color-light) 0%, 
    var(--color-base) 50%,
    var(--color-dark) 100%
  ); 
  */
  
}