.main {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  width: min(100vw - 2rem, 50ch);
}

.box {
  border: 2px solid black;
  flex: 1 1 33%;
  padding: 0 1rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}